// font-weight 
$normal: 400;
$medium: 500;
$bold: 700;

// bg color
$main-bg: #F8F8F8;
$aside-bg: #ffffff;

// font-size 
$fz-default: 16px;
$fz-small: 14px;

// extra style
$color: #FF3E79;
$smt-color: #7E7E82;
$text-color: #1B1C21;
